<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<meta name="description" content="KiwiDJ lets you DJ for your friends or strangers online. Play music from sources like Soundcloud and Youtube to a group.">
		<meta name="author" content="medsouz">

		<!-- HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		  <script src="/javascripts/html5shiv.js"></script>
		<![endif]-->
		<script src="/javascripts/jquery.min.js"></script>
		<script src="/javascripts/bodyFade.js"></script>

		<!-- styles -->
		<link href="/stylesheets/style.css" rel="stylesheet">
		<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="bodyDiv">
			<div class="header">
				<div class="headerDiv borderRight" style="width:19.8%">
					<h1><i class="icon-headphones"></i> Rooms</h1>
					<a href="/rooms"></a>
				</div>
				<div class="headerDiv borderRight">
					<h1><i class="icon-dashboard"></i> Stats</h1>
					<a href="/stats"></a>
				</div>
				<div class="headerDiv borderRight">
					<img src="/images/logo.png" width="44px" height="49px" align="left"/>
					<h1>KiwiDJ</h1>
					<a href="/"></a>
				</div>
				<div class="headerDiv borderRight">
					<h1><i class="icon-question"></i> About</h1>
					<a href="/about"></a>
				</div>
				<div class="headerDiv" style="width:19.8%">
					<h1><i class="icon-github"></i> Github</h1>
					<a href="http://github.com/medsouz/KiwiDJ"></a>
				</div>				
			</div>
			<div class="headerUser">
				<% if(typeof user == 'undefined') { %>
					<span><i class="icon-signin"></i> <a href="/login">Login</a> | <i class="icon-user"></i> <a href="/register">Register</a></span>
				<% } else { %>
					<span>Logged in as <strong><%= user.username %></strong> | <i class="icon-envelope"></i> 0 new messages | <i class="icon-male"></i> 0 friends online | <i class="icon-signout"></i> <a href="/logout">Logout</a></span>
				<% } %> 
			</div>
			<div id="content">
				<%- body %>
			</div>
			<p id="footer">
				<span>medsouz 2013</span>
				<span class="right">Git HEAD: <a href="https://github.com/medsouz/KiwiDJ/commit/<%= gitHEAD %>"><%= gitHEAD %></a><span>
			</p>
		</div>
	</body>
</html>
